# Gradle
.externalNativeBuild/
.gradle/
.idea/
LatinIME.iml
build/
local.properties
.cxx/
**/build/
**/.externalNativeBuild/
**/.cxx/

# ASAN (generated when building with latinime.enableAsan=true)
app/src/main/resources/lib/
app/src/main/jniLibs/
